pipeline/surcharges-pipeline.json
{
	"name": "surcharges-pipeline",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT concat('https://restaurantapi.spoton.com/posexport/v1/locations/',id,'/surcharges') as weburl\n      \n  FROM [dbo].[location] ",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "LocationlDsTable",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET",
									"additionalHeaders": {
										"x-api-key": "ae26019c-3cf9-4700-bcd1-c57975060532"
									},
									"paginationRules": {
										"supportRFC5988": "true"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"tableOption": "autoCreate",
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "$['id']"
											},
											"sink": {
												"name": "id"
											}
										},
										{
											"source": {
												"path": "$['locationId']"
											},
											"sink": {
												"name": "locationId"
											}
										},
										{
											"source": {
												"path": "$['name']"
											},
											"sink": {
												"name": "name"
											}
										},
										{
											"source": {
												"path": "$['deleted']"
											},
											"sink": {
												"name": "deleted"
											}
										},
										{
											"source": {
												"path": "$['enabled']"
											},
											"sink": {
												"name": "enabled"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "surcharges_RestApi_dataset_source",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "surcharges_sql_dataset_destination",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"folder": {
			"name": "SpotOnApi/surcharges"
		},
		"annotations": [],
		"lastPublishTime": "2025-03-16T22:01:59Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}