pipeline_config/pipeline/fetchLast90DaysData.json
{
	"name": "fetchLast90DaysData",
	"properties": {
		"activities": [
			{
				"name": "checkForDates",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "dateIntervalsDataset",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "runForEachDate",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "checkForDates",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('checkForDates').output.value\n",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Set_startTime",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "startTime",
								"value": {
									"value": "@item().startTime",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set_endTime",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set_startTime",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "endTime",
								"value": {
									"value": "@item().endTime",
									"type": "Expression"
								}
							}
						},
						{
							"name": "fetchData",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Set_endTime",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET",
									"paginationRules": {
										"supportRFC5988": "true"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "SpotonAPI_dataset",
									"type": "DatasetReference",
									"parameters": {
										"locationid": {
											"value": "@pipeline().parameters.locationID",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "90_days_location_dataset",
									"type": "DatasetReference",
									"parameters": {
										"folderPath": {
											"value": "@pipeline().parameters.locationID\n",
											"type": "Expression"
										},
										"fileName": {
											"value": "@concat(\n  pipeline().parameters.locationID, '_',\n  replace(item().startTime, ':', ''), '_',\n  replace(item().endTime, ':', ''), '_orders.json'\n)\n",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"locationID": {
				"type": "string"
			}
		},
		"variables": {
			"startTime": {
				"type": "String"
			},
			"endTime": {
				"type": "String"
			}
		},
		"annotations": []
	}
}