pipeline_config/pipeline/fetchLast90DaysData.json
{
	"name": "fetchLast90DaysData",
	"properties": {
		"activities": [
			{
				"name": "checkForDates",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "dateIntervalsDataset",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "runForEachDate",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "checkForDates",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('checkForDates').output.value\n",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Set_startTime",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "startTime",
								"value": {
									"value": "@item().startTime",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set_endTime",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set_startTime",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "endTime",
								"value": {
									"value": "@item().endTime",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"locationID": {
				"type": "string"
			}
		},
		"variables": {
			"startTime": {
				"type": "String"
			},
			"endTime": {
				"type": "String"
			}
		},
		"annotations": []
	}
}