pipeline_config/pipeline/FetchAPIData.json
{
	"name": "FetchAPIData",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.locationList",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Pull Data from API",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET",
									"paginationRules": {
										"supportRFC5988": "true"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings",
										"copyBehavior": "FlattenHierarchy"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "api_dataset",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "raw_spoton_data_json",
									"type": "DatasetReference",
									"parameters": {
										"locationid": "@item()"
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Processfiles",
				"type": "ExecutePipeline",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "ProcessFiles",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			}
		],
		"parameters": {
			"LocationList": {
				"type": "array",
				"defaultValue": [
					"Location16075"
				]
			},
			"runFrequencyHours": {
				"type": "int",
				"defaultValue": 4
			},
			"overrideStartTime": {
				"type": "string"
			}
		},
		"variables": {
			"startTime": {
				"type": "String"
			},
			"endTime": {
				"type": "String"
			},
			"currentTime": {
				"type": "String"
			},
			"fileName": {
				"type": "String"
			}
		},
		"annotations": []
	}
}